@import "tailwindcss";
@source "../templates";
@utility gl-button {
    @apply px-2 py-1 rounded-lg shadow-md cursor-pointer;
}
.glf-button {
    @apply gl-button;
}
#glf-geama-error {
    @apply font-sans bg-red-300 text-red-800 px-4;
}
.glf-oidheam {
    @apply gl-button mr-1 font-bold;
}
.glf-oidheam-far {
    @apply ml-2;
}
.glf-oidheam[data-staid="neo-taghta"] {
    @apply text-blue-950 bg-blue-100 hover:text-blue-200 hover:bg-blue-400;
}
.glf-oidheam[data-staid="taghta"] {
    @apply text-blue-800 bg-blue-600/75 hover:text-blue-400 hover:bg-blue-600;
}
.glf-oidheam[data-staid="à comas"] {
    @apply text-gray-400/25 bg-gray-100/25 cursor-default;
}
.glf-eirmeas {
    @apply gl-button mr-1 font-bold;
}
.glf-eirmeas[data-staid="neo-taghta"] {
    @apply gl-button text-green-100 bg-green-100 cursor-default;
}
.glf-eirmeas[data-staid="taghta"] {
    @apply gl-button text-green-950 bg-green-200 hover:text-green-200 hover:bg-green-600;
}
.glf-cuimse {
    @apply m-1 px-2 py-0 rounded-lg inline-block cursor-pointer;
}
.glf-cuimse[data-staid="sonn"] {}
.glf-cuimse[data-staid="soillsichte"] {
    @apply text-yellow-900 bg-yellow-200/50;
}
.glf-cuimse[data-staid="air sgeul"] {
    @apply font-bold text-green-900 bg-green-200;
}
.glf-cuimse[data-staid="taisbeanta"] {
    @apply font-bold text-yellow-900 bg-yellow-200/50;
}
.glf-cuimse-litir {
    @apply inline-block w-4;
}
#glf-comhailteach {
    display: flex;
    align-items: center;
    justify-content: center;
    @apply px-4 py-1 rounded-lg text-lg font-bold text-green-950 bg-green-200;
}
.glf-deifinisean {
    @apply p-3 text-amber-600 bg-amber-100 rounded-md max-h-[70dvh] overflow-y-auto;
    min-width: 20rem;
    max-width: 64rem;
}
.glf-deifinisean ul {
    @apply list-inside list-disc;
}
.glf-deifinisean li::marker {
    @apply text-amber-600/50;
}
.glf-deifinisean .glf-deifn-seorsa {
    @apply text-sm italic no-underline text-amber-600/50 mr-1;
}
.glf-deifinisean .glf-ionadaich {
    @apply text-amber-600/50;
}
.glf-deifinisean .glf-eadar-radh {
    @apply text-amber-600/50;
}
#glf-priob-uinneag {
    position: fixed;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    background-color: rgba(200, 200, 200, 0.5);
    z-index: 1000;
    padding: 3em;
    @apply cursor-pointer;
}
#glf-priob-uinneag .glf-deifinisean {
    position: fixed;
    top: 10dvh;
    left: 10dvw;
    width: 80dvw;
    min-height: 20dvh;
    max-height: 80dvh;
    @apply border border-amber-300;
}

form.ilf-fuirm > div {
    @apply p-2 mb-1 w-fit grid grid-cols-6 gap-x-1 bg-indigo-200 rounded-md;
}
.ilf-fuirm button {
    @apply gl-button;
    @apply text-blue-950 bg-blue-100 hover:text-blue-200 hover:bg-blue-400;
}
.ilf-fuirm input {
    @apply px-1 text-blue-950 bg-blue-100;
}
.ilf-fuirm input[type="text"] {
    @apply max-w-40 mb-1;
}
.ilf-fuirm select {
    @apply px-1 text-blue-950 bg-blue-100;
}
.ilf-seorsachan {
    @apply grid gap-px;
    grid-template-columns: repeat(auto-fill, 5em);
}
.ilf-faclan {
    @apply p-2 w-full bg-amber-100 text-amber-600 rounded-md grid gap-px;
    grid-template-columns: repeat(auto-fill, minmax(8em, 10em));
}
.ilf-facal {
    @apply px-2 my-1 inline-block rounded hover:bg-amber-200;
}
.ilf-clar {
    @apply p-3 text-amber-600 bg-amber-100 rounded-md max-h-[70dvh] max-w-60 overflow-y-auto;
    min-width: 20rem;
}
.ilf-clar-facal {
    @apply font-bold;
}
.ilf-clar-ipa {
    @apply italic;
}
.ilf-clar-seorsa {
    border-top-width: 1px;
    @apply border-amber-600/25;
}
.ilf-clar-seorsa-gramar {
    @apply mr-4 text-amber-600/50;
}
.ilf-clar-seorsa-gramar i {
    @apply text-xs italic;
}
.ilf-clar-seorsa-seorsa {
    @apply text-sm italic no-underline text-amber-600/50 mr-1;
}
.ilf-clar .ilf-eadar-radh {
    @apply text-amber-600/50;
}
#ilf-claran-priob-uinneag {
    position: fixed;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    background-color: rgba(200, 200, 200, 0.5);
    z-index: 1000;
    padding: 3em;
    @apply cursor-pointer;
}
#ilf-claran-priob-uinneag .ilf-clar {
    position: fixed;
    top: 10dvh;
    left: 10dvw;
    width: 80dvw;
    min-height: 20dvh;
    max-height: 80dvh;
    @apply border border-amber-300;
}
