{% extends "base.html" %}
{% block title %}Lorg Faclan{% endblock %}
{% block content %}
    <div class="flex flex-row">
        <div class="flex flex-col items-center w-140 lg:w-180">
            <form method="post" action="/lorg-faclan" class="ilf-fuirm">
                <div class="w-140">
                    <label class="col-span-2 text-left text-xs">aig an<br/><span class="text-base">toiseach</span></label>
                    <label class="col-span-2 text-center text-xs">àite<br/><span class="text-base">sam bith</span></label>
                    <label class="col-span-2 text-right text-xs">aig an<br/><span class="text-base">deireadh</span></label>

                    <input class="col-span-2 text-left" type="text" name="toiseach" value="{{ ionchur.toiseach }}" />
                    <input class="col-span-2 text-center" type="text" name="sam_bith" value="{{ ionchur.sam_bith }}" />
                    <input class="col-span-2 text-right" type="text" name="deireadh" value="{{ ionchur.deireadh }}" />

                    <label class="col-start-1 col-span-3 text-right">litrichean an comas</label>
                    <input class="col-span-2 text-left" type="text" name="litrn_tha" value="{{ ionchur.litrn_tha }}" />

                    <label class="col-start-1 col-span-3 text-right">litrichean à comas</label>
                    <input class="col-span-2" type="text" name="litrn_chan" value="{{ ionchur.litrn_chan }}" />

                    <label class="col-start-1 col-span-3 text-right text-xs">ann am <span class="text-base">Beurla</span></label>
                    <input class="col-span-2" type="text" name="beurla" value="{{ ionchur.beurla }}" />

                    <label class="col-start-1 col-span-3 text-right">fad</label>
                    <div class="col-span-2">
                        <select name="fad_coimheas" class="ionchur-fad">
                            <option value="lt" {% if ionchur.fad_coimheas == 'lt' %}selected{% endif %}> &lt; </option>
                            <option value="le" {% if ionchur.fad_coimheas == 'le' %}selected{% endif %}> &le; </option>
                            <option value="eq" {% if ionchur.fad_coimheas == 'eq' %}selected{% endif %}> = </option>
                            <option value="ge" {% if ionchur.fad_coimheas == 'ge' %}selected{% endif %}> &ge; </option>
                            <option value="gt" {% if ionchur.fad_coimheas == 'gt' %}selected{% endif %}> &gt; </option>
                        </select>
                        <select name="fad_teorr" class="ionchur-fad">
                            <option value="">---</option>
                            {%- for i in range(2,20) %}
                                <option value="{{i}}" {% if ionchur.fad_teorr|int == i %}selected{% endif %}>{{ i }}</option>
                            {%- endfor %}
                        </select>
                    </div>

                    <label class="col-start-1 text-center">seòrsa</label>
                    <div class="ilf-seoorsachan col-span-5">
                        {%- for seòrsa, beurla in SEÒRSACHAN_AN_COMAS.items() %}
                            <label>
                                <input type="checkbox" name="seorsa" value="{{seòrsa}}" {% if seòrsa in ionchur.seorsa %}checked{% endif %} />
                                <abbr title="{{ beurla }}" >{{seòrsa}}</abbr>
                            </label>
                        {%- endfor %}
                    </div>

                    <button class="col-start-2 col-span-4" type="submit">lorg!</button>
                </div>
            </form>
            {%- if faclan %}
                <div class="ilf-faclan">
                    {%- for clàr in faclan %}
                        <div>
                            <a class="ilf-facal">{{clàr.facal}}</a>
                        </div>
                    {%- endfor %}
                </div>
            {%- endif %}
        </div>
        <div id="ilf-claaran-ion-loidhne" class="ml-1 hidden lg:block"></div>
    </div>
    <div id="ilf-claaran-priob-uinneag" class="hidden"></div>

    <script type="text/javascript">
        const FACLAN = {{ faclan | json | safe }};
        const SEÒRSAN_AN_COMAS = {{ SEÒRSACHAN_AN_COMAS | json | safe }};

        function ionchur_soillsich(ionchurDOM) {
            if (ionchurDOM.tagName === "INPUT" && ionchurDOM.type === "text") {
                if (ionchurDOM.value) {
                    ionchurDOM.classList.add("ilf-ionchur-taghta");
                } else {
                    ionchurDOM.classList.remove("ilf-ionchur-taghta");
                }
                return;
            }
            if (ionchurDOM.tagName === "INPUT" && ionchurDOM.type === "checkbox") {
                const pàrantDOM = ionchurDOM.parentNode;
                if (ionchurDOM.checked) {
                    pàrantDOM.classList.add("ilf-ionchur-taghta");
                } else {
                    pàrantDOM.classList.remove("ilf-ionchur-taghta");
                }
                return;
            }
            if (ionchurDOM.tagName === "SELECT" && ionchurDOM.name.startsWith("fad_")) {
                const doms = document.getElementsByClassName("ionchur-fad");
                let soillsich = true;
                for (const dom of doms) {
                    if (! dom.value) {
                        soillsich = false;
                    }
                }
                for (const dom of doms) {
                    if (soillsich) {
                        dom.classList.add("ilf-ionchur-taghta");
                    } else {
                        dom.classList.remove("ilf-ionchur-taghta");
                    }
                }
                return;
            }
        }

        function facal_ceil(facal, roghainnean={}) {
            const id = `facal-${facal}`;
            const facalDOM = document.getElementById(id);
            if (! facalDOM) {
                return;
            }
            const prìnichte = facalDOM.getAttribute("data-prìnichte") === "true";
            if (roghainnean.tar_àithn || !prìnichte) {
                facalDOM.parentNode.removeChild(facalDOM);
            }
        }

        function facal_prìnich(facal) {
            const id = `facal-${facal}`;
            const facalDOM = document.getElementById(id);
            if (! facalDOM) {
                return;
            }
            const prìnichte = facalDOM.getAttribute("data-prìnichte") === "true";
            if (prìnichte) {
                return;
            }
            const dom = document.createElement("button");
            dom.classList.add("ilf-claar-duuin");
            dom.textContent = "X";
            dom.addEventListener("click", () => {
                facal_ceil(facal, {tar_àithn: true});
            });
            facalDOM.prepend(dom);
            facalDOM.setAttribute("data-prìnichte", "true");
        }

        function _facal_seall_DOM(pàrantDOM, clàr, roghainnean={}) {
            const facal = clàr.facal;
            const id = `facal-${facal}`;
            let facalDOM = document.getElementById(id);
            if (facalDOM) {
                return facalDOM;
            }
            facalDOM = document.createElement("div");
            facalDOM.setAttribute("id", id);
            facalDOM.classList.add("ilf-claar");
            let dom = document.createElement("div");
            dom.classList.add("ilf-claar-facal");
            dom.textContent = clàr.facal;
            facalDOM.append(dom);
            dom = document.createElement
            if (clàr.ipa) {
                dom = document.createElement("div");
                dom.classList.add("ilf-claar-ipa");
                dom.textContent = clàr.ipa;
                facalDOM.append(dom);
            }
            for (const seòrsa of clàr.seòrsachan) {
                const seòrsaDOM = document.createElement("div");
                seòrsaDOM.classList.add("ilf-claar-seoorsa");
                if (seòrsa.gràmar) {
                    const gràmarDOM = document.createElement("div");
                    for (const [k, v] of Object.entries(seòrsa.gràmar)) {
                        dom = document.createElement("span");
                        dom.classList.add("ilf-claar-seoorsa-graamar");
                        dom.innerHTML = `<i>${k}</i> ${v}`;
                        gràmarDOM.append(dom);
                    }
                    seòrsaDOM.append(gràmarDOM);
                }
                for (const beurla of seòrsa.beurla) {
                    const deifnDOM = document.createElement("div");
                    deifnDOM.classList.add("ilf-claar-deifn");
                    deifnDOM.innerHTML = beurla;
                    dom = document.createElement("abbr");
                    dom.classList.add("ilf-claar-seoorsa-seoorsa");
                    if (SEÒRSAN_AN_COMAS[seòrsa.seòrsa]) {
                        dom.setAttribute("title", SEÒRSAN_AN_COMAS[seòrsa.seòrsa]);
                    }
                    dom.textContent = seòrsa.seòrsa;
                    deifnDOM.prepend(dom);
                    seòrsaDOM.append(deifnDOM);
                }
                facalDOM.append(seòrsaDOM);
            }
            pàrantDOM.prepend(facalDOM);
            return facalDOM;
        }

        function facal_seall(clàr, roghainnean={}) {
            const ionLoidhneDOM = document.getElementById("ilf-claaran-ion-loidhne");
            const stoidhle = window.getComputedStyle(ionLoidhneDOM);
            if (stoidhle.display !== "none") {
                const facalDOM = _facal_seall_DOM(ionLoidhneDOM, clàr, roghainnean);
                if (roghainnean.prìnich) {
                    facal_prìnich(clàr.facal);
                }
                facalDOM.scrollIntoView({behavior: "smooth", block: "nearest"});
                return;
            }
            const priobUinneagDOM = document.getElementById("ilf-claaran-priob-uinneag");
            priobUinneagDOM.replaceChildren();
            _facal_seall_DOM(priobUinneagDOM, clàr, roghainnean);
            priobUinneagDOM.style.display = "flex";
        }

        function duilleag_suidheachadh() {
            const ionLoidhneDOM = document.getElementById("ilf-claaran-ion-loidhne");
            const stoidhle = window.getComputedStyle(ionLoidhneDOM);
            let seLuchAthann = false;
            if (stoidhle.display !== "none") {
                seLuchAthann = true;
                const àite = ionLoidhneDOM.getBoundingClientRect();
                ionLoidhneDOM.style.position = "fixed";
                ionLoidhneDOM.style.top = `${àite.top}px`;
                ionLoidhneDOM.style.left = `${àite.left}px`;
                ionLoidhneDOM.style.height = `${window.innerHeight - àite.top}px`;
                ionLoidhneDOM.style.overflowY = "auto";
                ionLoidhneDOM.style.overflowX = "hidden";
            }
            const faclanDOM = document.getElementsByClassName("ilf-facal");
            Array.from(faclanDOM).forEach((facalDOM, àite) => {
                const clàr = FACLAN[àite];
                facalDOM.addEventListener("click", () => {
                    facal_seall(clàr, {prìnich: true});
                });
                if (seLuchAthann) {
                    facalDOM.addEventListener("mouseenter", () => {
                        facal_seall(clàr);
                    });
                    facalDOM.addEventListener("mouseleave", () => {
                        facal_ceil(clàr.facal);
                    });
                }
            });
            const priobUinneagDOM = document.getElementById("ilf-claaran-priob-uinneag");
            priobUinneagDOM.addEventListener("click", () => {
                priobUinneagDOM.style.display = "none";
            });
            let doms = document.getElementsByTagName("input");
            for (const dom of doms) {
                ionchur_soillsich(dom);
                dom.addEventListener("input", (tachairt) => {
                    ionchur_soillsich(tachairt.target);
                });
            }
            doms = document.getElementsByTagName("select");
            for (const dom of doms) {
                ionchur_soillsich(dom);
                dom.addEventListener("input", (tachairt) => {
                    ionchur_soillsich(tachairt.target);
                });
            }
        }

        document.addEventListener("DOMContentLoaded", duilleag_suidheachadh);
    </script>
{% endblock %}
