<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Handlee" rel="stylesheet">
        <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/16x16.png">
        <link href="/static/tailwind.css" rel="stylesheet">
        <title>{% block title %}Gàidh-Litir{% endblock %}</title>
    </head>
    <body class="flex flex-col">
        <div class="h-9 flex flex-row bg-sky-300 text-sky-800 text-lg justify-between items-center" style="">
            <div class="px-3 mt-1" style="font-family: 'Handlee';">
                <a href="/">Gàidh-Litir</a>{% if self.title() != "Gàidh-Litir" %} : {{ self.title() }}{% endif %}
            </div>
            <div class="relative">
                <div id="clàr-iùil-làraich" class="absolute top-7 right-1 mt-0 px-3 w-max hidden z-10 bg-sky-300 border border-sky-400 shadow-lg">
                    <a class="block" href="/">ceann</a>
                    <a class="block" href="/lorg-faclan"><span class="text-sm">inneal</span> Lorg Faclan</a>
                    <a class="block" href="/liosta-fhaclan"><span class="text-sm">geama</span> Liosta-Fhaclan</a>
                </div>
                <button id="clàr-iùil-làraich-ìomhaigheag" class="px-3 mr-1 rounded-lg hover:bg-sky-600 cursor-pointer">☰</button>
            </div>
        </div>
        <div class="px-3 py-1">
            {% block content %}{% endblock %}
        </div>
        <script type="text/javascript">
            function làrach_lìn_suidheachadh() {
                const ìomhaigheagDOM = document.getElementById("clàr-iùil-làraich-ìomhaigheag");
                const clàrIùilDOM = document.getElementById("clàr-iùil-làraich");
                ìomhaigheagDOM.addEventListener("click", () => {
                    if (clàrIùilDOM.style.display === "block") {
                        clàrIùilDOM.style.display = "none";
                    } else {
                        clàrIùilDOM.style.display = "block";
                    }
                });
            }
            document.addEventListener("DOMContentLoaded", làrach_lìn_suidheachadh);
        </script>
    </body>
</html>

