{% extends "base.html" %}
{% block title %}Liosta-Fhaclan{% endblock %}
{% block content %}
    <div class="grid grid-cols-1 gap-1">
        <div>
            <div id="instructions-en">
                Find all the words using the provided letters.
                <ul class="list-inside list-disc">
                    <li>You can only use each letter once.</li>
                    <li>You can use a hyphen multiple times.</li>
                    <li>Words have to be at least 4 long.</li>
                </ul>
            </div>
            <div class="max-w-96 bg-indigo-200 rounded-md p-2 grid grid-cols-1 gap-x-2 gap-y-2 place-items-center">
                <div id="an-t-oidheam" class="text-lg font-mono"></div>
                <div id="ion-chur">
                    <span id="an-t-eirmeas" class="text-lg font-mono"></span>
                    <button id="eirmeas-caill" class="mr-2 geama-button bg-red-300 hover:bg-red-400 text-red-800 font-bold">X</button>
                    <button id="tomhais" class="geama-button bg-green-600 hover:bg-green-800 text-white">tomhais!</button>
                </div>
            </div>
        </div>
        <div class="max-w-96 bg-indigo-200 rounded-md p-2 overflow-y-auto w-full max-h-96">
            <div id="na-cuimsean" class="font-mono">
                {%- for cuimse in cuimsean %}
                    <a id="cuimse-{{cuimse}}" class="m-1 px-2 py-0 rounded-lg inline-block">{%- for litir in cuimse %}<span id="cuimse-{{cuimse}}-{{loop.index0}}" class="inline-block w-4">_</span>{% endfor -%}</a>
                {%- endfor %}
            </div>
        </div>
    </div>

    <script type="text/javascript">
        let LITRICHEAN = "aàbcdeèfghiìlmnoòprstuù";
        let DÀTA_GEAMA = {{ game_data | json | safe }};
        let ATH_SHUIDHICH_GEAMA = "{{ ath_shuidhich_geama }}";
        let PÀIRTEAN_EIRMEAS = [];
        let STAID_A_GHEAMA = { cuimsean: {} };
        let GEAMA_COMHAILTEACH = false;


        function cuimse_an_comas(cuimse, cuimseDOM) {
            for (let [i, litir] of cuimse.split("").entries()) {
                let litirDOM = document.getElementById(`cuimse-${cuimse}-${i}`);
                litirDOM.textContent = litir;
            }
            cuimseDOM.classList.add("geama-cuimse-found");
            cuimseDOM.setAttribute("alt", cuimse);
            cuimseDOM.setAttribute("href", `https://learngaelic.scot/dictionary/index.jsp?abairt=${cuimse}&slang=gd&wholeword=true`);
            cuimseDOM.setAttribute("rel", "external nofollow noopener noreferrer");
            cuimseDOM.setAttribute("target", "_blank");
            staid_a_gheama_sgrìobh(cuimse);
        }


        function oidheam_dèan() {
            let antOidheamDOM = document.getElementById("an-t-oidheam");
            let tàthanDOM = undefined;
            for (let oidheamÀite = 0; oidheamÀite < DÀTA_GEAMA.oidheam.length; oidheamÀite++) {
                let litir = DÀTA_GEAMA.oidheam[oidheamÀite];
                let litirDOM = document.createElement("button");
                litirDOM.id = `litir-oidheam-${oidheamÀite}`;
                litirDOM.àite = oidheamÀite;
                litirDOM.taghta = false;
                if (litir === "-" && !tàthanDOM) {
                    litirDOM.classList.add("oidheam-tàthan");
                    tàthanDOM = litirDOM;
                }
                litirDOM.textContent = litir;
                litirDOM.classList.add("mr-1", "geama-button", "font-bold");
                oidheam_litir_an_comas(litirDOM);
                antOidheamDOM.appendChild(litirDOM);
                litirDOM.addEventListener("click", () => {
                    eirmeas_litir_gnìomhaich(litir, oidheamÀite);
                });
            }
            if (! tàthanDOM) {
                let tàthanDOM = document.createElement("button");
                tàthanDOM.id = "oidheam-tàthan";
                tàthanDOM.àite = "-";
                tàthanDOM.classList.add("oidheam-tàthan", "font-bold");
                oidheam_litir_an_comas(tàthanDOM);
                tàthanDOM.textContent = "-";
                tàthanDOM.classList.add("ml-2", "font-normal");
                antOidheamDOM.appendChild(tàthanDOM);
                tàthanDOM.addEventListener("click", () => {
                    eirmeas_litir_gnìomhaich("-");
                });
            }
        }


        function oidheam_litir_an_comas(litirDOM) {
            litirDOM.taghta = false;
            litirDOM.classList.add("geama-oidheam-enabled");
            litirDOM.classList.remove("geama-oidheam-disabled");
        }


        function oidheam_litir_à_comas(litirDOM) {
            litirDOM.taghta = true;
            litirDOM.classList.remove("geama-oidheam-enabled");
            litirDOM.classList.add("geama-oidheam-disabled");
        }


        function oidheam_lorg_litirDOM(litir, oidheamÀite) {
            if (litir === "-") {
                return document.getElementsByClassName("oidheam-tàthan")[0];
            }
            if (oidheamÀite) {
                return document.getElementById(`litir-oidheam-${oidheamÀite}`);
            }
            for (oidheamÀite = 0; oidheamÀite < DÀTA_GEAMA.oidheam.length; oidheamÀite++) {
                let litirDOM = document.getElementById(`litir-oidheam-${oidheamÀite}`);
                if (! litirDOM) {
                    continue;
                }
                if (litirDOM.taghta) {
                    continue;
                }
                if (litirDOM.textContent === litir) {
                    return litirDOM;
                }
            }
            return undefined;
        }


        function oidheam_ùraich() {
            for (let oidheamÀite = 0; oidheamÀite < DÀTA_GEAMA.oidheam.length; oidheamÀite++) {
                let litirDOM = document.getElementById(`litir-oidheam-${oidheamÀite}`);
                oidheam_litir_an_comas(litirDOM);
            }
            let tàthanDOM = oidheam_lorg_litirDOM("-");
            oidheam_litir_an_comas(tàthanDOM);
            for (const [litir, oidheamÀite] of PÀIRTEAN_EIRMEAS) {
                let litirDOM = oidheam_lorg_litirDOM(litir, oidheamÀite);
                oidheam_litir_à_comas(litirDOM);
            }
            if (eirmeas_tàthan_mu_dheireadh()) {
                oidheam_litir_à_comas(tàthanDOM);
            } else {
                oidheam_litir_an_comas(tàthanDOM);
            }
        }


        function eirmeas_dèan() {
            let antEirmeasDOM = document.getElementById("an-t-eirmeas");
            for (let eirmeasÀite = 0; eirmeasÀite < DÀTA_GEAMA.uas_mheud_fad; eirmeasÀite++) {
                let litirDOM = document.createElement("button");
                litirDOM.id = `litir-eirmeas-${eirmeasÀite}`;
                litirDOM.àite = eirmeasÀite;
                litirDOM.textContent = "_";
                litirDOM.classList.add("mr-1", "geama-button", "font-bold");
                antEirmeasDOM.appendChild(litirDOM);
                litirDOM.addEventListener("click", () => {
                    PÀIRTEAN_EIRMEAS.splice(eirmeasÀite, 1);
                    oidheam_ùraich();
                    eirmeas_ùraich();
                });
                eirmeas_litir_à_comas(litirDOM);
            }
            let caillDOM = document.getElementById("eirmeas-caill");
            caillDOM.style.visibility = "hidden";
            caillDOM.addEventListener("click", () => {
                PÀIRTEAN_EIRMEAS = [];
                oidheam_ùraich();
                eirmeas_ùraich();
            });
            antEirmeasDOM.appendChild(caillDOM);

            let tomhaisDOM = document.getElementById("tomhais");
            tomhaisDOM.addEventListener("click", eirmeas_tomhais);
        }


        function eirmeas_litir_an_comas(litirDOM) {
            litirDOM.disabled = false;
            litirDOM.classList.add("geama-eirmeas-enabled");
            litirDOM.classList.remove("geama-eirmeas-disabled");
        }


        function eirmeas_litir_à_comas(litirDOM) {
            litirDOM.disabled = true;
            litirDOM.classList.remove("geama-eirmeas-enabled");
            litirDOM.classList.add("geama-eirmeas-disabled");
        }


        function eirmeas_litir_gnìomhaich(litir, oidheamÀite) {
            if (GEAMA_COMHAILTEACH) {
                return;
            }
            if (litir === "-") {
                if (eirmeas_tàthan_mu_dheireadh()) {
                    PÀIRTEAN_EIRMEAS.pop();
                } else {
                    eirmeas_cuir_ris_litir(litir, oidheamÀite)
                }
                oidheam_ùraich();
                eirmeas_ùraich();
                return;
            }
            for (const [i, clàr] of PÀIRTEAN_EIRMEAS.entries()) {
                if (clàr[1] === oidheamÀite) {
                    PÀIRTEAN_EIRMEAS.splice(i, 1);
                    oidheam_ùraich();
                    eirmeas_ùraich();
                    return;
                }
            }
            eirmeas_cuir_ris_litir(litir, oidheamÀite)
        }


        function eirmeas_tàthan_mu_dheireadh() {
            return PÀIRTEAN_EIRMEAS.length && PÀIRTEAN_EIRMEAS.at(-1)[0] === "-";
        }


        function eirmeas_cuir_ris_litir(litir, oidheamÀite) {
            if (PÀIRTEAN_EIRMEAS.length >= DÀTA_GEAMA.uas_mheud_fad) {
                return;
            }
            if (litir === "-") {
                if (eirmeas_tàthan_mu_dheireadh()) {
                    return;
                }
                PÀIRTEAN_EIRMEAS.push(["-", undefined]);
                oidheam_ùraich();
                eirmeas_ùraich();
                return;
            }
            let litirDOM = oidheam_lorg_litirDOM(litir, oidheamÀite);
            if (litirDOM) {
                PÀIRTEAN_EIRMEAS.push([litir, litirDOM.àite]);
                oidheam_ùraich();
                eirmeas_ùraich();
            }
        }


        function eirmeas_tomhais() {
            let eirmeas = "";
            for (const [litir] of PÀIRTEAN_EIRMEAS) {
                eirmeas += litir;
            }
            if (! eirmeas) {
                return;
            }
            let cuimseDOM = document.getElementById(`cuimse-${eirmeas}`);
            if (! cuimseDOM) {
                let caillDOM = document.getElementById("eirmeas-caill");
                caillDOM.style.visibility = "visible";
                return;
            }
            cuimseDOM.scrollIntoView({behavior: "smooth", block: "nearest"});
            cuimse_an_comas(eirmeas, cuimseDOM);
            // FUTURE -- bold recenlty-chosen cuimse (but only that one)
            PÀIRTEAN_EIRMEAS = [];
            oidheam_ùraich();
            eirmeas_ùraich();
            geama_comhailteach();
        }


        function eirmeas_ùraich() {
            for (let eirmeasÀite = 0; eirmeasÀite < DÀTA_GEAMA.uas_mheud_fad; eirmeasÀite++) {
                let litirDOM = document.getElementById(`litir-eirmeas-${eirmeasÀite}`);
                let [litir, oidheamÀite] = PÀIRTEAN_EIRMEAS[eirmeasÀite] || ["_"];
                litirDOM.textContent = litir;
                litirDOM.oidheamÀite = oidheamÀite;
                if (litir === "_") {
                    eirmeas_litir_à_comas(litirDOM);
                } else {
                    eirmeas_litir_an_comas(litirDOM);
                }
            }
            let caillDOM = document.getElementById("eirmeas-caill");
            caillDOM.style.visibility = "hidden";
        }


        function meur_chlàr_tachairt(tachairt) {
            if (GEAMA_COMHAILTEACH) {
                return;
            }
            if (tachairt.key === "Backspace") {
                tachairt.stopPropagation();
                tachairt.preventDefault();
                PÀIRTEAN_EIRMEAS.pop();
                oidheam_ùraich();
                eirmeas_ùraich();
                return;
            }
            if (tachairt.key === "Enter") {
                tachairt.stopPropagation();
                tachairt.preventDefault();
                eirmeas_tomhais();
                return;
            }
            if (tachairt.key === "-") {
                tachairt.stopPropagation();
                tachairt.preventDefault();
                eirmeas_cuir_ris_litir("-");
                return;
            }
            if (LITRICHEAN.includes(tachairt.key)) {
                if (DÀTA_GEAMA.oidheam.includes(tachairt.key)) {
                    tachairt.stopPropagation();
                    tachairt.preventDefault();
                    eirmeas_cuir_ris_litir(tachairt.key);
                }
                return;
            }
        }


        function meur_chlàr_an_comas() {
            document.addEventListener("keydown", (tachairt) => {
                if (tachairt.key === "Enter") {
                    // when oidheam litir has focus, hitting <Enter> would cause a click
                    tachairt.preventDefault();
                }
            });
            document.addEventListener("keyup", meur_chlàr_tachairt);
        }


        function staid_a_gheama_leugh() {
            if (ATH_SHUIDHICH_GEAMA === "true") {
                localStorage.removeItem("staid a' gheama");
                window.location.href = window.location.href.split("?")[0];
                return;
            }
            let staidAmh = localStorage.getItem("staid a' gheama");
            if (! staidAmh) {
                return;
            }
            let staid = JSON.parse(staidAmh);
            if (staid.oidheam !== DÀTA_GEAMA.oidheam) {
                localStorage.removeItem("staid a' gheama");
                return;
            }
            for (let cuimse in staid.cuimsean) {
                let cuimseDOM = document.getElementById(`cuimse-${cuimse}`);
                if (cuimseDOM) {
                    cuimse_an_comas(cuimse, cuimseDOM);
                }
            }
            STAID_A_GHEAMA = staid;
            geama_comhailteach();
        }


        function staid_a_gheama_sgrìobh(cuimse) {
            STAID_A_GHEAMA.oidheam = DÀTA_GEAMA.oidheam;
            STAID_A_GHEAMA.cuimsean[cuimse] = 1;
            let staidAmh = JSON.stringify(STAID_A_GHEAMA);
            localStorage.setItem("staid a' gheama", staidAmh);
        }


        function geama_comhailteach() {
            let cunntadh = Object.keys(STAID_A_GHEAMA.cuimsean).length;
            if (cunntadh !== DÀTA_GEAMA.cunntadh_cuimsean) {
                return;
            }
            GEAMA_COMHAILTEACH = true;
            let ionChurDOM = document.getElementById("ion-chur");
            let àrd = window.getComputedStyle(ionChurDOM).height;
            let comhailteachDOM = document.createElement("div");
            comhailteachDOM.id = "geama-comhailteach";
            comhailteachDOM.textContent = "sin thu!";
            comhailteachDOM.style.height = àrd;
            ionChurDOM.replaceWith(comhailteachDOM);
            for (let oidheamÀite = 0; oidheamÀite < DÀTA_GEAMA.oidheam.length; oidheamÀite++) {
                let litirDOM = document.getElementById(`litir-oidheam-${oidheamÀite}`);
                oidheam_litir_à_comas(litirDOM);
            }
        }


        function geama_dèan() {
            if (DÀTA_GEAMA.error) {
                let cearrDOM = document.createElement("div");
                cearrDOM.textContent = DÀTA_GEAMA.error;
                cearrDOM.classList.add("font-sans", "bg-red-300", "text-red-800", "px-4");
                document.getElementById("an-t-oidheam").appendChild(cearrDOM);
                return;
            }
            oidheam_dèan();
            eirmeas_dèan();
            meur_chlàr_an_comas();
            staid_a_gheama_leugh();
        }


        document.addEventListener("DOMContentLoaded", geama_dèan);
    </script>
{% endblock %}
